body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}
/** Headers **/
.shortHeader {
	width: 965px;
	margin: 0 auto;
}
.longHeader {
	width: 100%;
	background-color: #BB1919;
}
/* Global menu*/
#globalHeader {
	height: 40px;
	background-color: white;
	font-size: 13px;
	font-weight: bold;
}
#bbc-logo {
	margin-top: 10px;
	height: 19px;
	float: left;
}
#globalMenu {
  list-style-type: none;
  margin: 3px 0 0 40px;
  padding: 0;
  float: left;
}
#globalMenu li {
  display: inline;
  margin: 2 0 -2px 0;
  padding: 15px 6px 15px 6px;
  border-right: 1px solid #D2D2D2;
}
#globalMenu li:hover {
  border-bottom: 4px solid black;
}
.menu-links a {
  text-decoration: none;
  color: black;
}
#sign-in-button a {
  padding-left: 30px;
  padding-right: 70px;
}
#more-button a {
  padding-left: 6px;
  padding-right: 50px;
}
#global-search {
	margin-top: 5px;
	margin-left: 20px;
	float: left;
}
#global-search-text {
	height: 26px;
	margin-top: 0px;
	position: relative;
	bottom: 11px;
	left: 4px;
	background-color: #E4E4E4;
	border: 1px solid #E4E4E4;
}
/* Logo Header*/
#logoHeaderBar {
	height: 56px;
	background-color: #BB1919;
}
#logoHeader {
	height: 100%;
	background-color: #BB1919;
	padding-top: 15px;
}
/* Page Menu*/
#menuHeaderBar {
	height: 33px;
	background-color: #A91717;
	font-size: 15px;
}
#menuHeader {
	height: 100%;
	background-color: #A91717;
}
#pageMenu {
  list-style-type: none;
  width: 850px;
  display: block;
  margin: 0;
  padding-top: 9px;
}
#pageMenu li {
  display: inline;
  margin: -2px;
  padding: 0.5px 8px 0.5px 8px;
  border-right: 1px solid white;
  color: white;
}
#pageMenu li:hover {
  border-bottom: 4px solid white;
}
.page-menu-links a {
  text-decoration: none;
  color: white;
}
/********** Body **********/
/* Page Title*/
#page-title-container {
	height: 50px;
	width: 976px;
	margin: 0 auto;
	padding: 0.5px 0 0 0;
}
#page-title {
	width: 105px;
	font-size: 20px;
	font-weight: normal;
	border-bottom: 3px solid #bb1916;
}
/* Body Container*/
#body-container {
	height: 1500px;
	width: 976px;
	margin: 0 auto;
}
/******* Primary Column *******/
#primary-column {
	height: 1000px;
	width: 661px;
	background-color: white;
	float: left;
}
/*Featured story */
#featured-story-container {
	height: 307px;
	width: 645px;
	margin-right: 16px;
	border-bottom: 1px solid #dbdbdb;
}
#title-link-title {
	font-family: Arial;
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 15px;
}
#title-link-title a {
	text-decoration: none;
	color: #404040;
}
#title-img {
	width: 397px;
	height: 223px;
	float: right;
}
#title-body {
	width: 231px;
	height: 80px;
}
#title-summary {
	color: #5a5a5a;
	font-size: 14px;
}
.info-list {
	height: 20px;
}
.info-list-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 13px;
}
.clock-icon {
	width: 13px;
	height: 13px;
	float: left;
}
.info-list-list-date {
	color: green;
	float: left;
	margin-left: 5px;
	padding-right: 10px;
	color: #5a5a5a;		
}
.info-list-list-tech {
	float: left;
	margin: 0;
	padding-left: 10px;
	border-left: 1px solid #dcdcdc;
}
.info-list-list-tech a {
	float: left;
	text-decoration: none;
	color: #a61b1b;
}
/*Secondary story */
#secondary-section-container-container {
	width: 659px;
	height: 416px;
	margin-top: 16px;
}
.secondary-story-container {
	height: 416px;
	width: 214px;
	padding-right: 16px;
	margin-right: 16px;
	float: left;
	border-right: 1px solid #dcdcdc;
}
.secondary-featured-story {
	height: 416px;
	width: 215px;
}
.secondary-img {
	width: 215px;
	height: 121px;
}
.secondary-title {
	font-size: 20px;
	text-decoration: none;
	color: #404040;
	margin: 0;
	padding: 0;
}
.secondary-title h3 {
	margin-top: 5px;
	margin-bottom: 0;
}
.secondary-title-body {
	width: 215px;
	height: 80px;
}
.secondary-title-summary {
	color: #5a5a5a;
	font-size: 14px;
	margin-top: 5px;
}
/*Tertiary story */
.tertiary-story-container {
	height: 416px;
	width: 165px;
	float: left;
}
.tertiary-story {
	width: 146px;
	height: 138px;
	border-bottom: 1px solid #dbdbdb;
}
.tertiary-story-third {
	width: 146px;
	height: 133px;
}
.tertiary-title {
	margin: 0;
	padding: 9px 0;
}
.tertiary-title a {
	font-size: 17.5px;
	text-decoration: none;
	color: #404040;
}
/*Quaternary Section */
#quaternary-story-section {
	width: 645px;
	height: 208px;
	margin-top: 16px;
	border-top: 1px solid #dbdbdb;
	padding-top: 16px;
	background-color: ;
}
#quaternary-container {
	width: 645px;
	height: 208px;
	background-color: ;
}
.quaternary-story {
	width: 308px;
	height: 60px;
	padding: 0 7px;
	background-color: ;
	float: left;
}
.quaternary-story-2 {
	width: 308px;
	height: 69px;
	padding: 0 7px;
	background-color: ;
	float: left;
}
.quaternary-body {
	width: 314px;
	height: 60px;
	background-color: ;
}
.quaternary-body-2 {
	width: 314px;
	height: 44px;
	margin-top: 12px;
	padding-top: 12px;
	border-top: 1px solid #dbdbdb;
	background-color: ;
}
.quaternary-title {
	margin: 0;
	padding: 0 0 9px 0;
}
.quaternary-title a {
	font-size: 16px;
	text-decoration: none;
	color: #404040;
}
/******* Secondary Column *******/
#secondary-column {
	height: 1005px;
	width: 314px;
	background-color: ;
	float: right;
}
/*Watch Section */
#watch-section {
	width: 297px;
	height: 511px;
	margin-top: 15px;
	padding-left: 16px;
	border-left: 1px solid #dbdbdb;
}
#watch-section-title {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: #404040;
}
#watch-video-container {
	width: 297px;
	height: 464px;
	margin-top: 16px;
}
#video-story-1 {
	width: 313px;
	height: 64px;
}
.video-story-2 {
	width: 313px;
	height: 64px;
	margin-top: 16px;
}
.video-container {
	width: 109px;
	height: 64px;
	padding-right: 8px;
	float: left;
}
.watch-video {
	width: 109px; 
	height: 64px;
}
.watch-details-container {
	width: 66px; 
	height: 25px;
	position: relative;
	bottom: 29px;
}
.watch-details-container img {
	width: 28px; 
	height: 25px;
	float: left;
}
.watch-timer {
	width: 23px; 
	height: 12px;
	padding: 7px 7px 6px 7px;
	font-size: 12px;
	color: white;
	float: left;
	background-color: rgba(29,29,29,0.8);
}
.watch-body-container {
	width: 180px; 
	height: 64px;
	float: left;
}
.watch-story-title {
	margin: 0;
	padding: 0 0 4px 0;
	letter-spacing: -0.5px;
}
.watch-story-title a {
	font-size: 16px;
	text-decoration: none;
	color: #404040;
}
